.error_image {
    background: url('../../../assets/images/2662782.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100vh;
}