
.product-card-container {

border: 1px solid blue;;
width: 300px;
height: 300px;
display: flex;
align-items: center;
margin-bottom: 10px;
padding: 0 20px;
}

.cart-w {
display: flex;
flex-direction: row;
justify-content: space-around;


}
.label {
text-align: center;
border-bottom: 1px solid black;
}

em {

font-size: 24px;
}
h1 {
text-align: center
}

button {
float: right;
padding: 5px;
margin-top: 8px;
}
